{% extends 'taxas/_layoutemp.html' %} 


{% block maincontent %}
<header>
  <h1>title</h1>
  <div class="overflow-x-auto">
    <table class="table table-xs">
      <thead>
        <tr>
          <th></th>
          <th>Numero</th>
          <th>Contribuinte</th>
          <th>Valor</th>
          <th>Data de Pagamento</th>
          <th>Benificiario</th>
          <th>Potência</th>
          <th>Distinção</th>
        </tr>
      </thead>
      <tbody>
        {% for licenca in licencas %}
        <tr>
          <th>{{licenca.id}}</th>
          <td>{{licenca.numero}}</td>
          <td>{{licenca.contribuinte}}</td>
          <td>{{licenca.valor}}</td>
          <td>{{licenca.data_pagamento}}</td>
          <td>{{licenca.benificiario}}</td>
          <td>{{licenca.potencia}}</td>
          <td>{{licenca.distincao}}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>Numero</th>
          <th>Contribuinte</th>
          <th>Valor</th>
          <th>Data de Pagamento</th>
          <th>Benificiario</th>
          <th>Potência</th>
          <th>Distinção</th>
        </tr>
      </tfoot>
    </table>
  </div>
</header>
{% endblock maincontent %}
