{% extends 'gupagamentos/_layoutemp.html' %} 
{% load humanize %}

{% block header %}


<h1 class="text-4xl font-semibold my-8">DGU estatística</h1>
<div class="grid grid-cols-3 gap-2 ">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
     <h2 class="text-center">Total Contribuintes</h2>
      <p class="font-bold text-6xl text-center">{{total_contribuintes}}</p>
    </div>
   
  </div>

  <div class="card  bg-base-100 shadow-xl">
    <div class="card-body">
     <h2 class="text-center">Valor Total alvaras</h2>
     <p class="font-bold text-6xl text-center">{{taxa_total_valor|intcomma}}</p>
    </div>
   
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
     <h2 class="text-center">Total Taxas</h2>
      <p class="font-bold text-6xl text-center">{{total_taxas}}</p>
    </div>
   
  </div>

</div>

</div>
{% endblock header %} 