{% extends 'empresas/_layoutemp.html' %} {% load humanize %} {% block header %}
<div class="flex justify-between items-center h-24">
  <div class="flex items-center space-x-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
      />
    </svg>

    <input
      type="search"
      name=""
      id=""
      class="input w-full max-w-xs border-dashed border-b-2 border-primary"
    />
  </div>
  <a href="{% url 'empresas:alvaracriar' %}" class="btn btn-primary text-white"
    >+ Entre os dados</a
  >
</div>
{% endblock header %} {% block maincontent %}
<header>
 <div class="flex justify-between items-center">
  <h1>Lista de Alvarás por Empresas</h1>
  <div>
    <a href="{% url 'empresas:export_to_excel' %}"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16" fill="currentColor" class="w-4 h-6">
      <path fill-rule="evenodd" d="M4 5a2 2 0 0 0-2 2v3a2 2 0 0 0 1.51 1.94l-.315 1.896A1 1 0 0 0 4.18 15h7.639a1 1 0 0 0 .986-1.164l-.316-1.897A2 2 0 0 0 14 10V7a2 2 0 0 0-2-2V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v3Zm1.5 0V2.5h5V5h-5Zm5.23 5.5H5.27l-.5 3h6.459l-.5-3Z" clip-rule="evenodd" />
    </svg>
    
    excel
    </a>
  </div>
 </div>
  <div class="overflow-x-auto">
    <table class="table table-xs">
      <thead>
        <tr>
          <th></th>
          <th>Numero</th>
          <th>Emissão</th>
          <th>Termino</th>
          <th>Classe</th>
          <th>Empresa</th>
          <th>Valor</th>
          <th>Data de Pagamento</th>
        </tr>
      </thead>
      <tbody>
        {% for alvara in alvaras %}
        <tr>
          <th>{{alvara.id}}</th>
          <td>{{alvara.numero}}</td>
          <td>{{alvara.emissao}}</td>
          <td>{{alvara.termino}}</td>
          <td>{{alvara.classe}}</td>
          <td>{{alvara.empresa}}</td>
          <td>{{alvara.valor|intcomma}}</td>
          <td>{{alvara.data_pagamento}}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>Numero</th>
          <th>Emissão</th>
          <th>Termino</th>
          <th>Classe</th>
          <th>Empresa</th>
          <th>Valor</th>
          <th>Data de Pagamento</th>
        </tr>
      </tfoot>
    </table>
  </div>
</header>
{% endblock maincontent %}
