{% extends 'empresas/_layoutemp.html' %} 

{% block header %}
<div class="flex justify-between items-center h-24 mt-8">
   <div>
    <h1 class="text-2xl  font-semibold">Gestor de Alvarás</h1>
    <p>Visualize e gerencie todos os alvarás registrados no sistema</p>
   </div>
  <a href="{% url 'empresas:alvaracriar' %}" class="btn btn-primary text-white"
    >+ Entre os dados</a
  >
</div>
{% endblock header %} 
{% block maincontent %}

<section class="border border-gray-300 flex items-center shadow mt-4 mb-4 p-4 rounded-2xl space-x-2">
  <div class="flex items-center mr-8">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
      />
    </svg>

    <input
      type="search"
      name=""
      id=""
      class="input w-2xl max-w-xs border-dashed border-b-2 border-gray-500"
    />
  </div>

  <select
   name="classe" 
   id="" 
   class="select w-24"
   hx-get="{% url 'empresas:filtrar_alvaras' %}"
   hx-target="#alvara-list"
   hx-trigger="change"
   >
    <option value="">Todas</option>
    <option value="Terceira">Terceira</option>
    <option value="Quarta">Quarta</option>
  </select>
</section>
<header>
 <div class="flex justify-between items-center">
  <h2 class="text-xl my-4">Lista de Alvarás por Empresas</h2>
  <div>
    <a class="btn bg-gray-400 text-white" href="{% url 'empresas:export_to_excel' %}"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16" fill="currentColor" class="w-4 h-6">
      <path fill-rule="evenodd" d="M4 5a2 2 0 0 0-2 2v3a2 2 0 0 0 1.51 1.94l-.315 1.896A1 1 0 0 0 4.18 15h7.639a1 1 0 0 0 .986-1.164l-.316-1.897A2 2 0 0 0 14 10V7a2 2 0 0 0-2-2V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v3Zm1.5 0V2.5h5V5h-5Zm5.23 5.5H5.27l-.5 3h6.459l-.5-3Z" clip-rule="evenodd" />
    </svg>
    
    exportar
    </a>
  </div>
 </div>
  <div id="alvara-list" class="overflow-x-auto">
    {% include "empresas/partials/alvara_list.html" %}
</header>
{% endblock maincontent %}
